/** 
  Table of Contents
  ================================================================
  1. Mixins
  2. Variables
    2.1 Colors
    2.2 Images
    2.3 Shadow
  3. Html/Body Reset
  ================================================================
  body{}
  body > .wrapper {}
  .__container {}
  .__left-container {}
  .__right-container {
    .banner{
      span{}
    }
    form{}
  }
  .form-control{}
  .input-group{}
  .attribution{
    a{}
  }
*/
/** ================================================================
    1. Mixins */
/** ================================================================
    2. Variables
      2.1 Colors */
/**   
      2.2 Images */
/**   
      2.3 Shadow */
/** ================================================================
    3. Html/Body Reset */
* {
  font-family: "Poppins", sans-serif;
}

/** ================================================================ */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: #ff7a7a;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../../images/bg-intro-mobile.png");
}

@media (min-width: 992px) {
  body {
    background-image: url("../../images/bg-intro-desktop.png");
  }
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 1.5rem;
      grid-template-areas: "left" "right" "footer";
  gap: 0 1rem;
}

@media (min-width: 992px) {
  .wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin: 9.5rem;
        grid-template-areas: "left right" "footer footer";
  }
}

.wrapper footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  margin: 0;
}

.__left-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  color: white;
  padding: 1rem 0;
  margin: 1rem;
  text-align: center;
}

@media (min-width: 992px) {
  .__left-container {
    margin: auto;
    text-align: left;
  }
}

.__left-container p:nth-child(1) {
  line-height: 120%;
  font-weight: 600;
  margin: 0 2.5rem;
  font-size: 2rem;
}

@media (min-width: 992px) {
  .__left-container p:nth-child(1) {
    margin: 0;
    font-size: 3rem;
  }
}

.__left-container p:nth-child(2) {
  margin-top: 2.3rem;
}

.__right-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: right;
  margin-bottom: 0.5rem;
}

@media (min-width: 992px) {
  .__right-container {
    margin-bottom: 0;
  }
}

.__right-container .banner {
  background: #6055a5;
  color: white;
  border-radius: 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem 3rem;
  -webkit-box-shadow: 0 0.4rem rgba(128, 128, 128, 0.3);
          box-shadow: 0 0.4rem rgba(128, 128, 128, 0.3);
}

.__right-container .banner span {
  font-weight: 700;
}

.__right-container form {
  padding: 2rem;
  border-radius: 0.5rem;
  background: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 1rem 0;
  -webkit-box-shadow: 0 0.4rem rgba(128, 128, 128, 0.3);
          box-shadow: 0 0.4rem rgba(128, 128, 128, 0.3);
}

.__right-container form [type="submit"] {
  text-transform: uppercase;
  border: none;
  border-radius: 0.5rem;
  background: #38cc8c;
  -webkit-box-shadow: 0 0.25rem #2ba671;
          box-shadow: 0 0.25rem #2ba671;
  color: white;
  padding: 1rem 2rem;
  font-weight: 500;
  -webkit-font-kerning: auto;
          font-kerning: auto;
  font-size: medium;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  cursor: pointer;
}

.__right-container form [type="submit"]:disabled {
  cursor: not-allowed;
}

.__right-container form [type="submit"]:hover:not(:disabled) {
  background: #75dbaf;
  -webkit-box-shadow: 0 0.25rem #38cc8c;
          box-shadow: 0 0.25rem #38cc8c;
}

.__right-container form .legal-text {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 0.75rem;
  color: #b9b6d3;
}

.__right-container form .legal-text a {
  text-decoration: none;
  color: #ff7a7a;
  font-weight: 700;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
}

.__right-container form .legal-text a:hover {
  text-decoration: underline;
}

.form-control {
  border: 0.12rem solid;
  border-color: #cccccc;
  border-radius: 0.35rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.form-control:focus {
  outline: none !important;
  border-color: #3e3c49;
}

.form-control[type="text"], .form-control[type="password"], .form-control[type="email"] {
  padding: 1rem 2rem;
  font-weight: 600;
  letter-spacing: 0.019rem;
}

.form-control-error {
  border: 0.15rem solid;
  border-color: #ff7a7a !important;
}

.input-error-display {
  font-size: smaller;
  font-weight: 500;
  font-style: italic;
  color: #ff7a7a;
}

.input-group {
  position: relative;
  text-align: right;
}

.input-group img {
  position: absolute;
  right: 0;
  top: 0.5rem;
  padding: 0.5rem 1.5rem;
  visibility: hidden;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
